{% extends 'base.html' %}
{% block title  %}
binary tree
{% endblock %}




{% block content  %}
<div class="container mt-3 mb-1">
    <a href="{{ url_for('buscador') }}" class="btn btn-secondary"> Volver al Inicio</a>
</div>


    <h1 class="mt-2 text-center">Binary tree</h1>

<form action="/binary-tree" method="post">
    <div class="form-group">
        <label for="numeros">Números:</label>
        <input type="text" class="form-control" id="numeros" name="numeros"  placeholder="Ingrese los numeros separados por comas" required >
    </div>
    <button type="submit" class="btn btn-primary mt-2">Enviar</button>
</form>


{% if data %}
        <h1>Resultado</h1>
        <p>Árbol: {{ data.arbol }}</p>
        <p>Preorden: {{ data.preorden }}</p>
        <p>Inorder: {{ data.inorder }}</p>
        <p>Postorden: {{ data.postorden }}</p>

{% endif %}



{% endblock %}