{% extends 'base.html' %}
{% block title  %}
Buscador
{% endblock %}


{% block content  %}
    <div class="container mt-3">
      <a href="{{ url_for('upload_file') }}" class="btn btn-secondary">Volver al Inicio</a>
    </div>
    <div class="container">
      <h1 class="mt-5 mb-4 text-center">Buscador de palabra en lista</h1>
      <div class="form-group">
        <label for="palabra">Ingrese la palabra a buscar:</label>
        <input
          type="text"
          class="form-control mt-2"
          id="palabra"
          placeholder="Palabra"
        />
      </div>
      <button
        type="button"
        class="btn btn-primary mb-3 mt-3"
        onclick="buscarPalabra()"
      >
        Buscar
      </button>
      <div id="resultado"></div>
    </div>

    <div class="container mt-5">
      <h2 class="text-center mb-4">¿Qué son los Índices Invertidos?</h2>
      <p>
        Los índices invertidos son estructuras de datos utilizadas en el campo de la
        recuperación de información para agilizar la búsqueda de información en grandes
        conjuntos de datos, como documentos o textos extensos. Su principal objetivo es
        facilitar la búsqueda de palabras o términos dentro de estos conjuntos de datos.
      </p>
      <p>
        Esta técnica invierte la relación entre los términos y los documentos en los que
        aparecen. En lugar de almacenar los documentos y luego buscar los términos dentro
        de ellos, los índices invertidos almacenan una lista de términos con referencias
        a los documentos en los que aparecen. Esto permite una búsqueda más rápida y
        eficiente, ya que el sistema puede localizar rápidamente los documentos que
        contienen un término específico.
      </p>
      <p>
        En el contexto de esta aplicación, el buscador de palabras en lista utiliza
        índices invertidos para encontrar documentos que contienen la palabra ingresada
        por el usuario en una lista de documentos previamente indexados.
      </p>
    </div>
    <!-- Agregamos los scripts de sweet alert para que se vean vacanes las alertas -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      function buscarPalabra() {
        let palabra = document.getElementById("palabra").value;

        fetch("http://127.0.0.1:8000/api/indices-invertidos", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ palabra: palabra }),
        })
          .then((response) => response.json())
          .then((data) => {
            let resultado = data.resultado;
            let lista = document.createElement("ul");
            resultado.forEach(function (elemento) {
              if (elemento === "No se encontro") {
                // alert(elemento)
                Swal.fire({
                  title: "Error!",
                  text: "No se encontro la palabra",
                  icon: "error",
                  confirmButtonText: "Cool",
                });
              }
              let item = document.createElement("li");
              item.appendChild(document.createTextNode(elemento));
              console.log(elemento, item);
              lista.appendChild(item);
            });
            document.getElementById("resultado").innerHTML = "Resultado:";
            document.getElementById("resultado").appendChild(lista);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  {% endblock %}