{% extends 'base.html' %}
{% block title  %}
merge sort 
{% endblock %}



{% block content  %}

<div class="container mt-3 d-flex justify-content-between">
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Volver al Inicio</a>
    <a href="{{ url_for('buscador') }}"  class="btn btn-primary">Buscar texto</a>
  </div>

    <h1 class="mt-2 text-center">Merge Sort</h1>

    <div class="mb-3">
        <label for="inputLista" class="form-label">Lista de Cadenas</label>
        <input type="text" class="form-control" id="inputLista" placeholder="Ingrese las cadenas separadas por comas">
    </div>

    <button type="button" class="btn btn-primary" onclick="ordenar()">Ordenar</button>

    <h2 class="mt-4">Resultado:</h2>
    <ul id="resultadoLista" class="list-group"></ul>

        <!-- Explicación del algoritmo Merge Sort -->
        <div class="mt-4">
            <h2>¿De que trata el algoritmo Merge Sort?</h2>
            <p>
                Merge Sort es un algoritmo de ordenamiento eficiente y estable que divide repetidamente una lista en mitades
                hasta que cada sublista solo tenga un elemento. Luego, combina esas sublistas de manera ordenada y progresiva
                hasta obtener la lista original ordenada. Utiliza el enfoque "divide y conquista".
            </p>
            <p>
                Su complejidad temporal es O(n log n), lo que lo hace adecuado para listas grandes y se considera uno de los
                algoritmos de ordenamiento más rápidos y eficientes.
            </p>
        </div>

    <div class="mt-4"></div>
    <script>
        function ordenar() {
            var inputLista = document.getElementById('inputLista').value;
            
            fetch('http://127.0.0.1:8000/api/merge-sort', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    lista: inputLista.split(',').map(s => s.trim())
                }),
            })
            .then(response => response.json())
            .then(data => {
                var resultadoLista = document.getElementById('resultadoLista');
                resultadoLista.innerHTML = '';
                data.organizado.forEach(function(item) {
                    var li = document.createElement('li');
                    li.appendChild(document.createTextNode(item));
                    li.className = 'list-group-item';
                    resultadoLista.appendChild(li);
                });
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>

{% endblock %}